<div class="panel panel-primary">
	<div class="panel panel-heading">
		<h1>New post</h1>
	</div>
	<%= render 'form' %>
	<div class="panel panel-footer comment">
		<%= link_to 'Back', posts_path %>
	</div>
</div>